{% extends 'main/layout.html' %}

{% block title %}
    <h1>Про нас</h1>
{% endblock %}

{% block content%}
  <div class="features">
    <h1>Про нас</h1>
    <p>
      Мы - команда единомышленников, которые любят домашних животных и хотят помочь другим владельцам питомцев. Мы создали этот блог, чтобы поделиться своими знаниями и опытом, а также чтобы дать возможность другим владельцам питомцев поделиться своими советами и историями.
      В нашем блоге вы найдете статьи о самых разных темах, связанных с домашними животными.<br> Мы рассказываем о том, как правильно ухаживать за питомцами, как их воспитывать, как решать различные проблемы, связанные с домашними животными. Мы также делимся интересными историями о наших собственных питомцах.
      Мы надеемся, что наш блог будет полезным для всех владельцев домашних животных. Мы хотим, чтобы наши читатели получали достоверную информацию о том, как обеспечить своим питомцам счастливую и здоровую жизнь.</p>
    <h2>Как мы работаем?</h2>
    <p>Мы - не просто команда авторов, которые пишут статьи. Мы - настоящие владельцы питомцев, которые делятся своим опытом и знаниями. Мы знаем, о чем говорим, потому что сами сталкиваемся с теми же проблемами, что и наши читатели.

      Мы постоянно изучаем новую информацию о домашних животных, чтобы быть в курсе последних трендов и рекомендаций. Мы также общаемся с другими владельцами питомцев, чтобы узнать их опыт.
      
      Наша команда стремится к тому, чтобы наш блог был полезным и информативным. Мы хотим, чтобы наши читатели могли найти ответы на свои вопросы и получить ценные советы.</p>
    <p>Спасибо за то, что читаете наш блог!</p>

  </div>
{% endblock %}