{% extends 'main/layout.html' %}

{% block title %}
    <h1>Главная страница</h1>
{% endblock %}

{% block content%}
  <div class="features">
    <h1>Добро пожаловать в блог о животных!</h1>
    <p>
    Добро пожаловать в блог о животных!
    Мы любим животных и хотим поделиться своей любовью с вами. В нашем блоге вы найдете статьи о самых разных темах, связанных с домашними животными.<br>
    Мы рассказываем о том, как правильно ухаживать за питомцами, как их воспитывать, как решать различные проблемы, связанные с домашними животными. Мы также делимся интересными историями о наших собственных питомцах.</p>
    <p>Мы приглашаем всех владельцев домашних животных присоединиться к нашему сообществу и поделиться своими советами и историями. Вы можете написать статью, оставить комментарий или просто связаться с нами через социальные сети.
    </p>
    <p>Мы будем рады видеть вас в нашем сообществе!</p>

  </div>
{% endblock %}